/*Draw ball using div*/

.backball {
    position: absolute;
    width: 700px;
    height: 700px;
    background: #333333;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.backball_shadow {
    position: absolute;
    width: 700px;
    height: 700px;
    background: #4f4f4f;
    mix-blend-mode: overlay;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.center_white {
    position: absolute;
    width: 285px;
    height: 286px;
    background: #e0e0e0;
}

.center_eight {
    position: absolute;
    width: 160px;
    height: 280px;
    font-size: 290px;
    line-height: 335px
}
