/* Font for ball */
/* font-family: 'Metal Mania', cursive; */

/* Font for everything else */
/* font-family: 'Odibee Sans', cursive; */

body {
    position: relative;
    font-family: 'Odibee Sans', cursive;
}

.backball {
    position: relative;
    border-radius: 50%;
    width: 700px;
    height: 700px;
    background-image: linear-gradient(to right bottom, #000000, #0c0c0c, #151515, #1c1b1b, #232222, #2f2e2e, #3d3b3b, #4a4848, #625f5f, #7b7878, #959191, #b0abab);
    box-shadow: 5px 5px rgba(101, 98, 98, 0.25);
    margin: auto;
}

.center_white {
    position: relative;
    top: 30%; 
    left:30%;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: #e0e0e0;
}

.center_white h1{
    position: relative;
    top: 10%;
    left: 32%;
    font-size: 200px;
}

.hexgrid {
    position: absolute;
    z-index: -1;
}

.triangle-container{
    width: 300px;
    text-align:center;
}

.triangle{
    fill: blue;
    stroke-width: 10;
}

.content {
    margin-left: 30px;
    margin-top: 55px;
}

.formLabel {
    color: white;
}

.formElement {
    font-family: 'Odibee Sans', cursive;
    font-size: 2rem
}